* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #545e6f;
  text-decoration: none;
}

nav a {
  background: #f0f0f0;
  border-radius: 4px;
  padding: 6px 10px;
  margin-right: 10px;

}

nav a.active {
  color: #fff;
  background: #7600dc;
}
nav a.inactive {
  font-style: italic;
  transition: all 0.3s ease 0s;
}

nav a:hover {
  color: #1e0236;
}

/* Navbar and burger menu */
nav {
  width: 100%;
  height: 5em;
  background-color: rgb(37, 39, 53);
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

/* .burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
} */

.nav-links {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content:flex-end;
}
/* .burger-bar {
  height: 0.5em;
  width: 3em;
  background-color: white;
  border-radius: 0.5em;
  transition: all 0.3s ease;
} */

.menu {
  width: 100%;
  height: 100vh;
  background-color: rgb(11, 30, 172);
  position: absolute;
  top: 1;
  z-index: 1;
}
.menu-links {
  /* height: 10%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}

/* sliding menu */
.hidden {
  display: none;
}

.visible {
  display: inherit;
}

/* animations */
/* clicked */
/* .burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}
.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}
.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
} */

/* unclicked */
/* .burger-bar.unclicked:nth-child(1) {
  transform: rotate(0deg) translate(0, 0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
} */
h {
  color: #000;
}

.title {

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: center;

  /* align-items: flex-start;
  justify-content: space-between; */

}


a.nav-btn {
  cursor: pointer;
  color: #fff; 
  background: #7600dc;
  border: 2px solid #7600dc;
}
a.nav-btn.active {
  cursor: pointer;
  color: #fff; 
  background: #7600dc;
  border: 2px solid red;
}
a.nav-btn:hover {
  background: #7600dc;
  color: #fff; 
  border: 2px solid red;
}

a.nav-hover {
  cursor: pointer;
  color: #fff; 
  background: #7600dc;
  border: 2px solid #7600dc;
  border-radius: 50%;
}
a.nav-hover.active {
  color: #fff; 
  border: 2px solid red;
}
a.nav-hover:hover {
  cursor: pointer;
  color: #fff; 
  border: 2px solid red;
}    


  /* a.nav-hover:hover {
    cursor: pointer;
    color: red; 
  }     */


@media screen and (max-width: 768px) {
  .showmenu {
    display:inline;
  }
  .show-nav-buttons {
    display:none;
  }
  .showloginbutton {
    display:inline;
  }
  .shownlogoutbutton {
    display:inline;
  }
}
@media screen and (min-width: 768px) {
  .showmenu {
    display: none;
  }
  .show-nav-buttons {
    display:inline;
  }
  .showloginbutton {
    display:inline;
  }
  .shownlogoutbutton {
    display:inline;
  }
}